.top{
    width: 0 auto;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 75px;
    overflow: hidden;
}
.top .logo,.top.h2{
    float: left;
}



.top h2{
    height: 111px;
    line-height: 111px;
    margin-left: 650px;
    font-size: 25px;
}
