/* --------------------------- Main Element Set Up ---------------------------*/
*{
    margin:0;
    padding:0;

}

body{
    min-height:1800px;
    background-color: #F6F8F9;
    min-width: 375px;
}
/* ---------------------------- Font Style Set Up ----------------------------*/

.segoeui_regular_blue{
    color: var(--font_blue);
    font-family: (--font-family-segoeui-regular);
    font-style: normal;
}

.roboto_regular_black_48px{
    color: #000;
    font-family: (--font-family-roboto);
    font-size: 48px;
    font-style: normal;
}

.roboto_regular_gray_24px{
    color: var(--dove-gray);
    font-family: (--font-family-roboto);
    font-style: normal;
    font-size: 24px;
}
/* --------------------------- Color & Size Set Up ---------------------------*/

:root { 
    --blue: #2372ff;
    --background_blue: #2372ff;
    --dove-gray: #707070;
    --border_line: #e1e1e1;
    --licorice: #171414;
    --spindle: #b3cfff1a;
    --white: #ffffff;
    --backgroud_black:#343A40;
    --font_blue:#047BF1;
    --active_background:#73777B;
    --table_category_background:#F5F6FA;
   
    --font-size-l: 38px;
    --font-size-m: 30px;
    --font-size-s: 28px;
    --font-size-xl: 40px;
    --font-size-xs: 25px;
    --font-size-xxl: 50px;
   
    --font-family-roboto: "Roboto", Helvetica;
    --font-family-segoeui-bold: "SegoeUI-Bold", Helvetica;
    --font-family-segoeui-regular: "SegoeUI-Regular", Helvetica;
}

/* ----------------------------- Clinican Page ------------------------------ */
.clinician_nav{
    background-color: var(--backgroud_black);
    height: 72px;
    overflow: hidden;
    width: 100%
}

.clinician_nav a{
    float: left;
    text-align: center;
    padding: 6px;
    text-decoration: none;
}

.clinician_nav p{
    padding-top: 23px;
    padding-left: 10px;
    font-size: 25px;
}

.round_icon{
    height: 60px;
    width: 60px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: var(--white);
}

.nav_icon{
    height: 50px;
    width: 50px;
    display: flex;
    margin-left: 40%;
    padding-top: 5px;
    padding-left: 10px;
    align-items: center;
}

.nav_icon:hover{
    height: 55px;
    width: 55px;
}

.table_name{
    padding-top: 25px;
    padding-left: 66px;
}

.patients_list {
    width: 65%;
    padding-top: 30px;
    padding-left: 66px;
    border-spacing: 0;
}

.patients_list tr:nth-child(even){
    background-color: var(--dove-gray);
}

.patients_list td:hover{
    background-color: var(--active_background);
}

.patients_list th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: var(--table_category_background);
}

.patient_card{
    width: 540px;
    height: 323px;
    position: absolute;
    left: 1331px;
    top: 102px;
    border: 1px solid var(--dove-gray);
    border-radius: 51px;
    float: left;
}

.patient_card img{
    width: 124px;
    height: 124px;
    padding-left: 37px;
    padding-top: 37px;
    float: left;
}

.patient_card h2{
    padding-left: 20px;
    float: left;
    padding-top: 70px;
    font-size: 24px;
}


.patient_card p{
    padding-top: 10px;
    padding-left: 20px;
    float: left;
}

/* ----------------------------- Patient Page ------------------------------ */



.patient_nav{
    position: fixed;
    bottom: 0;
    background-color: var(--backgroud_black);
    height: 72px;
    overflow: hidden;
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.patient_nav a{
    position: relative;
    float: left;
    padding-top: 5px;
    padding-right: 10%;
}

.home_font{
    text-align: center;  
    padding-top: 31px;
    font-size: 26px;
}

.date_font{
    font-size: 15px;
    text-align: right;
    padding-right: 5%;
}


.medal{
    position: absolute;  
    width: 54px;
    height: 68px;
    margin-top: 3%;
    margin-left: 3%;
    /* top: 90px;
    left: 26px;  */
}

.patient_profile{
    background-color: white;
    margin-top: 16px;
    height: 10%;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profile_img{
    max-width:15%;
    max-height:15%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding-top:18px;
}

.today_record{
    margin-top: 16px;
    height: 25%;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.today_record_text{
    font-size: 20px;
    margin-left: 3.5%;
    padding-top: 4%;
}

.comment_button{
    width: 25px;
    margin-right: 3.5%;
    float: right;
}

.add_icon_blue{
    width: 25px;
    margin-right: 3.5%;
    float: right;
}

.align_left{
    float: left;
    margin-left: 3.5%;
    margin-top: 4%;
    font-size: 14px;
}

.align_right{
    float: right;
    margin-right: 5%;
    margin-top: 4%;
    font-size: 14px;
}

.rightarrow_blue{
    width: 25px;
    height: 30px;
    float: right;
    margin-right: 3.5%;
    margin-top: 2%;
}

.bubbleText{
    border-radius: 20px;
    border-style: solid;
    margin-left: 3.5%;
    margin-right: 5%;
    border-width: 0.5px;
    border-color: black;
    background-color: white;
    
}

.bubbleText p{
    margin-left: 7.5%;
}

.bubbleText_noRecord{
    border-radius: 20px;
    border-style: solid;
    margin-left: 3.5%;
    margin-right: 50%;
    border-width: 0.5px;
    border-color: black;
    background-color: #FF6B6B;
}

.bubbleText_noRecord p{
    margin-left: 15%;
}


.bubbleText time{
    margin-left: 75%;
    font-size: 10px;
    color:#5C6770;
}


.past_record{
    background-color: white;
    margin-top: 5%;
    margin-left: 5%;
    width: 43%;
    float: left;
    text-align: center;
}

.leader_board{
    background-color: white;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    min-height: 15%;
    width: 43%;
    float: right;
    text-align: center;
} 

.note_icon{
    width:65px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.past_record button{
    background-color: #007AD4;
    color:white;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
}

/* ----------------------------- Comment Page ------------------------------ */


.form-popup .label{
    margin-top: 5px;
}

.form-popup {
    display: none;
    width:20%;
    height:35%;
    position:absolute;
    left:50%;
    top:50;
    bottom: 50%;
    right:50%;
    background-color: white;
    border-color:black ;
    border-width:10px;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus{
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit button */
  .form-container .submit_button {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
  }
  
  /* Add a red background color to the button */
  .form-container .close_button {
    background-color:#007AD4;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
  }