<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About This Website - Diabetes@Home</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
</head>
<body>
{{{body}}}
</body>

<footer>
    <div class="AD-footer"> 
        <ul class="AD-footer-content">
            <li>© Diabetes@Home 2022</li>
            <li><a href="/home">About Diabetes</a></li>
            <li><a href="/about-us">About This Website</a></li>
 
        </ul>

        <ul class="AD-footer-img">
            <li><a href="#"><img src="./image/facebook.png" class="AD-footer-img-content">  </a></li>
            <li><a href="#"><img src="./image/twitter.png" class="AD-footer-img-content">  </a></li>
            <li><a href="#"><img src="./image/instagram.png" class="AD-footer-img-content">  </a></li>
            <li><a href="#"><img src="./image/email.png" class="AD-footer-img-content">  </a></li>
        </ul>

    </div>
</footer>

</html>