<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="/logo/Diabetes @Home (8).png">

    <script type="text/javascript" src="/javascripts/script.js"></script> 
    <link rel="stylesheet" href="/css/stylesheet.css" type="text/css">s
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <main>{{{body}}}</main>
    
</body>
</html>