<form action="/{{User.user_id}}/add" method="post">
    <div>
        <label for="data">Put your data</label>
        <input 
            bloodGroup="blood"
            type="text"
            name="blood"
            autofocus
        />
    </div>



</form>