<div class="login-diabetes-left">
    <img class="login-photo" src="/logo/login-page-logo.png">
</div>
<div class="login-diabetes-right">
    <arrow href="#">
        <a href="/home"><img  class="loginarrow_icon" src="./image/left-arrow.png"></a>

    </arrow>
    <div class="login-right-content">
        <h1>Log in</h1>
        <h2>Please enter your details.</h2>
        <h3><label>Username</label></h3>
        <input type="text" id="username">
        <h3><label>Password</label></h3>
        <input type="password" id="password">
        <h4>forget password/change password</h4>
        <h5>sign in</h5>
    </div>
</div>