<div class="patient_nav">
    <a href="/">
        <img src="./logo/home.png" class="nav_icon">
    </a>
    <a href="#">
        <img src="./logo/multiple-users-silhouette (1).png" class="nav_icon">
    </a>
    <a href="#">
        <img src="./logo/notification.png" class="nav_icon">
    </a>
    <a href="#">
        <img src="./logo/setting.png" class="nav_icon">
    </a>
</div>

<div class="data_header">
    <a href="/">
        <img src="./logo/left-arrow.png" class="leftarrow_icon">
    </a>
    <p class ="roboto_regular_gray_24px">My data</p>
</div>

<div class="underline">
</div>

<div class="selection_container">
    <div class = "selection">
        <select class="roboto_regular_gray_20px">
            <option herf="#">
                Weight
            </option>
            <option herf="#">
                Blood glucose level    
            </option>
            <option herf="#">
                Insulin taken    
            </option>
            <option herf="#">
                Exercise    
            </option>
        </select>
    </div>
    
</div>