/* --------------------------- Main Element Set Up ---------------------------*/
*{
  margin:0;
  padding:0;
  

}

body{
  max-height: 1080px;
  background-color: #F6F8F9;
  min-width: 375px;

}
/* ---------------------------- Font Style Set Up ----------------------------*/

.segoeui_regular_blue{
  color: var(--font_blue);
  font-family: (--font-family-segoeui-regular);
  font-style: normal;
}

.roboto_regular_black{
  color: #000;
  font-family: (--font-family-roboto);
  font-style: normal;
}

.roboto_regular_gray_24px{
  color: var(--dove-gray);
  font-family: (--font-family-roboto);
  font-style: normal;
  font-size: 24px;
}

.segoeui_bold_white{
  color: var(--white);
  font-family: --font-family-segoeui-bold;
  font-style: normal;
}
/* --------------------------- Color & Size Set Up ---------------------------*/

:root { 
  --blue:#004bcc;
  --background_blue: #2372ff;
  --background_blue_hover: #4d8eff;
  --background_blue_active: #80aeff;
  --dove-gray: #707070;
  --border_line: #e1e1e1;
  --white: #ffffff;
  --backgroud_black:#343A40;
  --font_blue:#047BF1;
  --active_background:#73777B;
  --table_category_background:#F5F6FA;
  --black: #000;
  --background_light_gray: #d3d3d3;
  --green:#05c46b;
  --shadow_blue: #092c3e;
  --hover_gray: #ddd;
  --actived_gary: #b3b3b3;
  --border_hover:#cccccc;

  --font-family-roboto: "Roboto", Helvetica;
  --font-family-segoeui-bold: "SegoeUI-Bold", Helvetica;
  --font-family-segoeui-regular: "SegoeUI-Regular", Helvetica;
}

/* ------------------------- Clinican Page Nav Bar -------------------------- */

.clinician_nav{
  background-color: var(--backgroud_black);
  height: 72px;
  overflow: hidden;
}

.clinician_nav a{
  float: left;
  text-align: center;
  padding: 6px;
  text-decoration: none;
}

.clinician_nav p{
  padding-top: 23px;
  padding-left: 10px;
  font-size: 25px;
}

.round_icon{
  height: 60px;
  width: 60px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: var(--white);
}

.nav_icon{
  height: 50px;
  width: 50px;
  display: flex;
  margin-left: 40%;
  padding-top: 5px;
  padding-left: 10px;
  align-items: center;
}
.nav_icon_more{
  height: 50px;
  width: 50px;
  display: flex;
  margin-left: 40%;
  padding-top: 5px;
  padding-left: 10px;
  align-items: center;
}
@media screen and (max-width:499px) {
  .nav_icon{
    margin-left: 35%;
    padding-left: 0px;
  }
  .nav_icon_more{
    margin-left: 35%;
    padding-left: 0px;
  }
  
}

.nav_icon:hover{
  height: 55px;
  width: 55px;
}

/* ----------------------------- Clinican Page ------------------------------ */

.table_name{
  padding-top: 25px;
  padding-left: 66px;
}

.clinician_main_left_column{
  float: left;
  width: 70%;
}

.Main_Table_list {
  width: 80%;
  margin-top: 30px;
  margin-left: 66px;
  border-spacing: 0;
  border: 1px solid var(--border_line);
  min-width: 800px;
}

.Main_Table_list a{
  text-decoration: none;
  color: var(--blackl);
}

.Main_Table_list .element_over_threshold{
  background-color: #FF6B6B;
}

.Main_Table_list a:visited{
  color: var(--black);
}

.Main_Table_list td:hover{
  background-color: var(--hover_gray);
}

.Main_Table_list th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--table_category_background);
}

/* todo: add style to the table elements*/
.Main_Table_list td{
  border: 1px solid var(--border_line);
  padding-top: 12px;
  text-align: center;
}

.clinician_main_right_column{
  float: left;
  width: 30%;
}

.patitent_card{
  width: 540px;
  height: 323px;
  border: 1px solid var(--dove-gray);
  border-radius: 51px;
  min-width: 540px;
}

.patient_card img{
  width: 124px;
  height: 124px;
  padding-left: 37px;
  padding-top: 37px;
}

.patient_card h2{
  padding-left: 20px;
  padding-top: 70px;
  font-size: 24px;
}

.patient_card p{
  padding-top: 10px;
  padding-left: 20px;
}


/*---------------------------new patient home------------andy-------------------*/


.patient_nav{
  position: fixed;
  bottom: 0;
  background-color: var(--backgroud_black);
  height: 72px;
  overflow: hidden;
  min-width: 100%;
  display: flex;
  justify-content: center;
}

.patient_nav a{
  position: relative;
  float: left;
  padding-top: 5px;
  padding-right: 10%;
}

.home_font{
  padding-top: 3%;
  font-size: 4.5vmin;
  display: flex;
  margin-left: 45%;
}
.home{
  
}

.date_font{
  font-size: 2vmin;
  margin-left: 35%;
  margin-top: 2%;
  
}


.medal{
  position: absolute;
  width: 58px;
  height: 73px;
  margin-left: 3%;
  left: 30px;
  top: 70px;
}
.tooltip {
  position: absolute;
  top: 7vh;
  left: 1vw;
}

.tooltip .tooltiptext {
  visibility: hidden;
  margin-left: 19%;
  display: block;
  text-align: center;
  font-size: 3vmin;
  border-radius: 15px;
  width: 30vw;
  background: #A2D2F9;
  margin-top: 6%;
  height: 7vh;
  padding-top: 5%;

  
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  
}
.marquee-desktop{
  display: none;
}

.marquee-iphone {
  width: 29vw;
  height: 17vh;
  position: absolute;
  font-size: 3vmin;
  left: 66%;
  top: 7%;
}

.patient_profile{
  background-color: white;
  margin-top: 3%;
  height: 20vh;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.profile_img{
  width: 28%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 18px;

  /* margin-left: 37%; */
}

.profile_name{
  text-align: center; 
  font-size: 5vmin;
}

.profile_email{
  text-align: center;
  font-size: 3.5vmin;

}

.today_record{
  /* background-color: white; */
  /* margin-top: 16px; */
  height: 25%;
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.today_record_text{
  font-size: 4.5vmin;
  margin-left: 3.5%;
  padding-top: 4%;
}

.add_icon_blue{
  width: 25px;
  float: right;
}

.add_icon_blue:hover {
  cursor: pointer;
  background-color: #F8F8F8;
}

.align_left{
  float: left;
  margin-left: 3.5%;
  margin-top: 4%;
  font-size: 4vmin;
}

.align_right{
  float: right;
  margin-right: 5%;
  margin-top: 4%;
  font-size: 4vmin;
}

.rightarrow_blue{
  width: 25px;
  height: 30px;
  float: right;
  margin-right: 3.5%;
  margin-top: 2%;
}

.bubbleText{
  border-radius: 20px;
  border-style: solid;
  margin-left: 3.5%;
  margin-right: 5%;
  border-width: 0.5px;
  border-color: black;
  background-color: white;
  border-left: 5px solid #047BF1;
  border-right: 5px solid #047BF1;
  /* background-color: #ddffff; */
}
@media screen and (min-width: 500px) {
  .bubbleText {
      border-left: 8px solid #047BF1;
      border-right: 8px solid #047BF1;
  }
}
@media screen and (min-width: 1400px) {
  .bubbleText {
      border-left: 10px solid #047BF1;
      border-right: 10px solid #047BF1;
  }
}

.bubbleText p{
  margin-left: 7.5%;
  font-size: 3.5vmin;
}


.bubbleText_noRecord{
  border-radius: 20px;
  border-style: solid;
  margin-left: 3.5%;
  margin-right: 50%;
  border-width: 0.5px;
  border-color: var(--black);
  background-color: #FF6B6B;
  font-size: 3.5vmin;
}


.bubbleText_noRecord p{
  margin-left: 15%;
}


.bubbleText time{
  margin-left: 75%;
  font-size: 3vmin;
  color:#5C6770;
}



.PH-bottom-element {
  height: 30vh;

}

.past_record{
  background-color: var(--white);
  margin-top: 5%;
  margin-left: 5%;
  margin-bottom: 20%;
  width: 43%;
  float: left;
  text-align: center;
  font-size: 4.5vmin;
}


.note_icon{
  width:65px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.past_record button{
  background-color: var(--background_blue_hover);
  color:white;
  border: none;
  margin-bottom: 5%;
  padding: 8px 15px;
  border-radius: 4px;
  font-size: 4vmin;
}


.scroller{
  width: auto;
  height: 16vh;
  overflow-y: scroll;
  padding-left: 5%;
  /* overflow: visible; */
}


.leader_board{
  background-color: var(--white);
  margin-top: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  width: 43%;
  /* height: 30%; */
  float: right;
  /* text-align: center; */
  font-size: 4.5vmin;
} 

.scroller p{
  background-color: #A2D2F9;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  border-radius: 10px;
  border-style: solid;
  margin-left: 3.5%;
  margin-right: 5%;
  border-width: 5px;
  border-color: var(--white);
  font-size: 3vmin;
  color:var(--white);
}


.trans_badge{
  width: 138px;
  position: absolute;
  margin-left: 5%;
  margin-top: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.PH-nav-logo{
  display: none;
}

.PH-nav-more { 
  position: absolute;
  background-color: #007AD4;
  /* min-width: 160px; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
  border-radius: 20px;
  font-size: 3vmin;
  display: none;
  bottom: 9%;
  min-width: 100vw;
  text-align: center;

  
}
.PH-nav-more a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.PH-nav-more a:hover{
  color: #000;
}

.PH-nav-display {
  display: block;
}

/*--------------------ipad and desktop for Patient Home ------------andy-----------*/
@media screen and (min-width: 500px){
  .patient_nav {
    position: relative;
    justify-content: left;
    height: 72px;
  }
  .patient_nav a {
    padding-right: 1%;
  }
  .PH-nav-logo {
    display: flex;
  }
  .PH-nav-more { 
    position: absolute;
    background-color: #007AD4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    margin-left: 250px;
    font-size: 2.5vmin;
    bottom: auto;
  }
  .PH-nav-more a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .nav_icon{
    width: 50px;
    height: 50px;
    padding-top: 5px;
  }
  .nav_icon_more {
    width: 50px;
    height: 50px;
    padding-top: 5px;
  }
  .nav_icon:hover{
    height: 57px;
    width: 57px;
  }
  .nav_icon_more:hover{
    height: 57px;
    width: 57px;
  }
  .home_font {
    padding-top: 0.5%;
    margin-left: -2%;
    display: inline-flex;
  }
  .home {
    display: none;
  }
  .marquee-desktop{
    margin-left: 5%;
    position: relative;
    display: flex;
    /* background-color: #A2D2F9;  */
  }
  .marquee-iphone{
    display: none;
  }

  .date_font {
    font-size: 3vmin;
    color: #007AD4;
    margin-left: 10%;
    margin-right: 3%;
  }
  .patient_profile {
    width: 20%;
    height: 70vh;
    margin-left: 3%;
    margin-top: 1%;
    float: left;
    background-color: #F6F8F9;

  }
  .profile_img {
    width: 17vw;
    height: auto;
  }
  .profile_email {
    font-size: 2.3vmin;
  }
  .profile_name {
    font-size: 4.5vmin;
    margin-top: 10%;
  }

  .medal {
    position: relative;
    width: 7vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    top: 0;
    margin-top: 10%;
  }


  .tooltip {
    position: relative;
    top: 3vh;
    left: 0;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size: 2.5vmin;
    border-radius: 20px;
    width: 20vw;
    background: #A2D2F9;
    margin-top: 5%;
    padding: 0;
    height: auto;
  
    
  }
  .tooltip:hover .tooltiptext {
    visibility: visible;
    
  }
  .today-record-session{
    /* display: flex; */
    float: left;
    height: 80vh;
    width: 50vw;
    border: 1px;
    border-style: solid;
    margin-left: 1%;
    margin-top: 0.5%;
  }
  .today_record_text {
    font-size: 3.5vmin;
    margin-left: 0;
    padding-top: 5%;
    margin-bottom: 3%;
  }
  .align_left {
    font-size: 3vmin;
  }
  .align_right {
    font-size: 3vmin;
  }
  .bubbleText p {
    margin-left: 5%;
    font-size: 2.5vmin;
  }
  .bubbleText time {
    margin-left: 80%;
    font-size: 2vmin;
  }
  .add_icon_blue {
    width: 40px;
  }
  .bubbleText_noRecord {
    font-size: 2.5vmin;
  }

  .past_record {
    width: 20%;
    margin-bottom: 4%;
    margin-left: 3%;
    font-size: 3.5vmin;
    margin-top: 3%;
  }
  .past_record p{
    margin-top: 6%;
    margin-bottom: 2%;
  }
  .past_record button {
    font-size: 3.5vmin;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10%;
  }
  .past_record button:hover{
    background-color: #2372FF;
  }
  .note_icon {
    width: 38%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .leader_board {
    width: 20%;
    float: left;
    margin-top: 0%;
    margin-left: 3%;
    margin-right: 0%;
    /* height: 35vh; */
    font-size: 3.5vmin;
  }
  .leader_board p {
    margin-top: 6%;
    margin-bottom: 2%;
  }
  .scroller {
    height: 26vh;
    padding-left: 2%;
    
  }
  .scroller p {
    margin-top: 1%;
    font-size: 2.5vmin;
  }

}
/* ----------------------------- Comment Page ------------------------------ */


.comment_button{
  float: right;
  margin-top: 3.5%;
  border: none;
  cursor: pointer;
}

.form-popup .label{
  margin-top: 5px;
}

.gray_cover{
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--black);
  opacity: 0.6;
}

.form-popup {
  text-align: center;
  display: none;
  width:500px;
  height:380px;
  position:absolute;
  top:0px;
  left:0px;
  bottom:0px;
  right:0px;
  padding-left:5%;
  margin:auto;

}

/* Add styles to the form container */
.form-container {
  max-width: 450px;
  padding: 10px;
  background-color: var(--white);
  border-radius:4px;
}
@media screen and (max-width: 600px) {
  .form-container {
    max-width: 320px;
    margin-left: 13%;
  }
}
@media screen and (max-width: 400px) {
  .form-container {
    max-width: 300px;
    margin-left: 1%;
  }
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 82%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  font-size: 2vmin;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus{
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.form-container .submit_button {
  background-color: #04AA6D;
  color: var(--white);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 80%;
  margin-bottom:10px;
  font-size: 2.5vmin;
}

/* Add a red background color to the button */
.form-container .close_button {
  background-color:var(--background_blue);
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 80%;
  margin-bottom:10px;
  font-size: 2.5vmin;
}

.form-container .data_field{
    text-align: left;
}


/* -------------------------- Clinican UI Paitent --------------------------- */
.ClinicianUI_patient_detail_page_left{
  float: left;
  width: 25%;
}

.ClinicianUI_patient_detail_page_middle{
  float: left;
  width: 40%;
}

.ClinicianUI_patient_detail_page_right{
  float: left;
  width: 35%;
}

/* ------------------------ Clinican UI Paitent Card ------------------------ */

.patient_detail_card{
  padding-left: 108px;
  padding-top: 48px;
  width: 248px;
}

.patient_detail_card img{
  width: 248px;
  height: 248px;
}

.patient_detail_card h4{
  text-align: center;
}

/* -------------------------- Required Data Selector ------------------------ */

.patient_data_selector_container{
  padding-top: 20px;
  padding-left: 45px;
}

.data_container_list{
  margin-top: 20px;
  margin-left: 90px;
  width: 300px;
  height: 260px;
  background-color: var(--background_blue);
  border-radius: 35px;
}

.data_container{
  padding-left: 20px;
  padding-top: 15px;
  font-size: 20px;
}

.required_data{
  border-radius: 8px;
  height: 20px;
  width: 20px;
  margin-left: 5px;
}

.link_buttom{
  width: 90%;
  height: 1px;
  border-top: solid var(--border_line) 1px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2px;
}

/* ----------------------- Save Required Data Button ------------------------ */

#save_required_button{
  background-color: var(--blue);
  font-size: 20px;
  margin-top: 20px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: auto;
  border-radius: 35px;
  width: 200px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  border: none;
  box-shadow: 1px 2px var(--shadow_blue);
}

#save_required_button:hover{
  background-color: var(--background_blue_hover);
}

#save_required_button:active{
  background-color: var(--background_blue_active);
}

#save_required_button span{
  cursor: pointer;
  display: inline-block;
  position: relative;
}

#save_required_button span::after{
  content: "\2191";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#save_required_button:hover span{
  padding-right: 35px;
}

#save_required_button:hover span::after{
  opacity: 1;
  right: 0;
}


#paitent_data_chart_modal{
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--black);
  opacity: 0.6;
}

#modal_return_icon{
  width: 40px;
  height: 40px;
  padding: 40px;
}

/* -------------------------- Time Sequence Setting ------------------------- */

#time_sequence{
  border: 1px solid var(--border_line);
  width: 300px;
  margin-left: 90px;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 5%;
  border-radius: 21px;
  background-color: var(--background_blue);
}

#time_sequence h5{
  padding-left: 10px;
  padding-top: 10px;
  font-size: 18px;
}

#time_sequence select{
  margin-bottom: 20px;
  margin: 10px 20px;
  height: 30px;
  width: 120px;
  border-radius: 8px;
  font-size: 15px;
  border: none;
  box-shadow: 1px 2px var(--shadow_blue);
}

#time_sequence button{
  height: 30px;
  width: 100px;
  border-radius: 18px;
  background-color: var(--blue);
  box-shadow: 1px 2px var(--shadow_blue);
  border: none;
  font-size: 15px;
}

#time_sequence button:hover, #time_sequence button:active{
  background-color: var(--background_blue_hover);
}

#time_sequence button:active{
  background-color: var(--background_blue_active);
}


/* ------------------------ Clinician UI Patient Data ---------------------- */


.patient_data_content{
  overflow: hidden;
  background-color: var(--background_light_gray);
  margin-top: 50px;
}

.patient_data_content button{
  color: var(--black);
  font-family: --font-family-segoeui-bold;
  font-style: normal;
  font-size: 17px;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  text-align: center;
  transition: 0.3s;
}

.patient_data_content button:hover{
  background-color: var(--hover_gray);
}

.patient_data_content button.active{
  background-color: var(--actived_gary);
}

.patient_data_tabs_content{
  display: none;
  border: 1px solid var(--border_line);
  border-top: none;
}

.patient_data_tabs_content table{
  border-spacing: 0;
  width: 100%;
  padding-top: 10px;
}

.patient_data_tabs_content tr:nth-child(odd){
  background-color: #f2f2f2;
}

.patient_data_tabs_content th{
  padding: 10px 20px;
  border-collapse: collapse;
  height: 30px;
}
@media screen and (max-width: 600px) {
  .patient_data_tabs_content th{
    padding: 10px 5px;
  }
  
}

.patient_data_tabs_content td{
  border: 1px solid var(--border_line);
  border-collapse: collapse;
  text-align: center;
  height: 30px;
}

#blood_glucose_level{
  display: block;
}

.threshold{
  padding-top: 10px;
  padding-left: 10px;
}

.threshold h3, .threshold p, .threshold_setting{
  float: left;
}

.threshold p{
  font-size: 18px;
  padding-left: 20px;
}

.threshold_setting{
  margin-left: 20px;
}

.threshold_setting:hover{
  background-color: var(--hover_gray);
}

.threshold_setting:active{
  background-color: var(--actived_gary);
}

.threshold img{
  height: 30px;
  width: 30px;
  border: none;
  font-size: 18px;
}

#threshold_setting_modal{
  display: none;
}

/* ------------------------------ Note Content ----------------------------- */

.clinician_note_content{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.clinician_note_content h2{
  text-align: center;
  border: 1px solid var(--border_line);
}

#notes_container{
  height: 250px;
  border: 1px solid var(--border_line);
  overflow: auto;
}

#notes{
  list-style-type: none;
  border: 1px solid var(--border_line);
  max-height: 250px;
  height: 250px;
  overflow: hidden;
  overflow-y: scroll
}

#notes li{
  font-size: 18px;
}

.single_note_container{
  margin: 10px;
  border: 1px solid var(--border_line);
  background-color: var(--table_category_background);
  height: 50px;
}

.note_message{
  padding-left: 20px;
  padding-top: 10px;
}

#note_input_container{
  border: 1px solid var(--border_line);
}

#clinician_note_input{
  margin: 20px 30px;
  height: 30px;
  font-size: 17px;
  width: 70%;
  border: 1px solid var(--border_line);
  border-radius: 8px;
}

#clinician_note_input:hover{
  background-color: #f2f2f2;
}

#clinician_note_submit{
  width: 15%;
  height: 30px;
  background-color: var(--background_blue);
  font-size: 17px;
  border: none;
  border-radius: 8px;
  margin:20px 0px;
}

#clinician_note_submit:hover{
  background-color: var(--background_blue_hover);
}

#clinician_note_submit:active{
  background-color: var(--background_blue_active);
}

/* ----------------------------- Message Content ---------------------------- */
.clinicianUI_message_container{
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

.clinicianUI_message_title{
  border: 1px solid var(--border_line);
}

.clinicianUI_message_title h2{
  text-align: center;
}

.clinicianUI_message_content{
  border: 1px solid var(--border_line);
  height: 300px;
}


.clinicianUI_message_content ul{
  list-style-type: none;
}

#clinician_message_input{
  margin: 20px 30px;
  height: 30px;
  font-size: 17px;
  width: 70%;
  border: 1px solid var(--border_line);
  border-radius: 8px;
}

#clinician_message_input:hover{
  background-color: #f2f2f2;
}

#clinician_message_submit{
  width: 15%;
  height: 30px;
  background-color: var(--background_blue);
  font-size: 17px;
  border: none;
  border-radius: 8px;
  margin:20px 0px;
}

#clinician_message_submit:hover{
  background-color: var(--background_blue_hover);
}

#clinician_message_submit:active{
  background-color: var(--background_blue_active);
}

.single_clinician_message{
  border: 1px solid var(--border_line);
  border-radius: 8px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  background-color: var(--background_blue);
}

.single_clinician_message_datetime{
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* ----------------------------------- Shiki -------------------------------- */
.data_header{
  width: 100%;
  overflow: hidden;
  min-width: 100%;
  position:relative;
  display: flex;
  height:10vh;
  

}
.data_header:after{
  content: '';
  display: block;
  margin-top: 8%;

}
.data_header a{
  position: relative;
  padding-top: 1.5%;
  padding-bottom: 1%;
  padding-left: 5%;
}
.data_header p{
  text-decoration: none;
  position: relative;
  float: left;
  padding-left: 35%;
  padding-top: 1.5%;
  font-size: 4vmin;

}

.leftarrow_icon{

  height: 50px;
  width: 50px;
}
@media screen and (max-width:500px) {
  .data_header p{
    padding-left: 24%;
    padding-top: 6.5%;
    font-size: 6vmin;
  }
  .leftarrow_icon {
    height: 40px;
    width: 40px;
  }
  .data_header a{
    padding-top: 5.5%;
  }

}

.underline{
  position: relative;
  background-color: var(--dove-gray);
  width: 100%;
  overflow: hidden;
  min-width: 100%;

}
.underline:after{
  content: '';
  display: block;
  margin-top: 0.2%;
}

/* selection */
.selection_container{

  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  min-width: 100%;
  position:relative;
  
}
.selection_container:after{
  content: '';
  display: block;
  margin-top: 2%;

}

.selection{
  position: relative;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  padding-top: 1%;

}

.selection select {
  border: none;
  background-color: transparent;
  overflow: hidden;
  white-space: nowrap;
}

/* show all data */
.data_container{
  display: flex;
  width: 80%;
  overflow: hidden;
  position:relative;
  text-align: center;
  justify-content: center;
}

.data_container:after{
  content: '';
  display: block;
  /* margin-top: 23.9%; */
}

.data_graph{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;

}

/* show all data */
.viewdata_container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  overflow: hidden;
  position:relative;
  text-align: center;
  justify-content: center;
}

.viewdata_container:after{
  content: '';
  display: block;
  margin-top: 23.9%;
}

/* ----------------------------- About Diabetes ------------------andy---------- */
.AD-header {
  width: 100vw;
  height: 100vh;
  background-image: url('../image/AD-header-img.png');

  background-position: bottom;
  background-size: cover;
  display: flex;

}

.AD-header-content {
  background: rgba(0, 94, 255, 0.55);
  height: 60%;
  width: 50%;
  margin-top: 5%;
  margin-left: 7%;
  border-radius: 20px;
  
  
}

.AD-header-content h2{
  margin-top: 5%;
  margin-left: 10%;
  color: white;
  font-size: 5vmin;
  width: 50vw;
  

}

.AD-header-content p {
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 5%;
  color: white;
  width: 40vw;
  font-size: 3vmin;
}

.AD-header-content a{
  color:white;
  margin-top: 5%;
  margin-left: 10%;
  font-size: 3vmin;
  margin-left: 80%;
}
.AD-header-content a:hover{
  color:#000
}

.AD-header-line {
  width: 80%;
  height: 4px;
  background-color: #E2E6EA;
  /* margin-top: 5%; */
  margin-left: 10%;
}


/* -------Nav Bar--------*/
.AD-head-logo {
  height: 11vh;
  width: auto;
  float: left;
  margin-left: 2%;
}

.AD-navbar {
  background-color: #2372FF;
  height: 11vh;
  font-size: 3vmin;
  justify-content: space-between;
}

.AD-nav-links {
  display: flex;
  list-style-type: none;
  /* align-items: center; */
  margin-left: 55%;
}

.AD-nav-links li {
  margin: 25px 20px;  
}
@media screen and (max-width: 1024px) {
.AD-nav-links {
  margin-left: 45%;
}

  .AD-nav-links li {
    margin: 22px 12px; 
  }
}
@media screen and (min-width: 1900px) {
  .AD-nav-links li {
    margin: 33px 22px; 
  }
}

.AD-nav-links li a {
  color: white;
}

.AD-nav-links li :hover {
  color: black;
}

.AD-menu-btn{
  position: absolute;
  top: 25px;
  right: 30px;
  width: 40px;
  cursor:pointer;
  display: none;
}


.AD-video-content {
  background: #F8FAFC;
  height: 70%;
  width: 30%;
  margin-top: 10%;
  margin-left: 6%;
  border-radius: 20px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #000;
}

.AD-video-content h2{
  margin-top: 5%;
  text-align: center;
  font-size: 4vmin;
}

.AD-video-line {
  width: 80%;
  height: 4px;
  background-color: #E2E6EA;
  /* margin-top: 5%; */
  margin-left: 10%;
}

.AD-video-content iframe {
  margin-top: 3%;
  width: 90%;
  height: 40%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}


.AD-about-Diabetes {
  background-color: white;
  width: 100vw;
  height: 85vh;
  /* display: flex; */
}

.AD-about-Diabetes-heading {
  padding-top: 5%;
  margin-left: 10%;
  font-size: 2.5vmin;

}

.AD-about-Diabetes-content {
  background: #F8FAFC;
  height: 58%;
  width: 20%;
  margin-top: 5%;
  margin-left: 4%;
  border-radius: 20px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #000;
  float: left;
  box-shadow: 5px 10px #888888;
}

.AD-about-Diabetes-content h2 {
  padding-top: 7%;
  margin-left: 0%;
  font-size: 3vmin;
  text-align: center;
}

.AD-about-Diabetes-line {
  width: 80%;
  height: 4px;
  background-color: #E2E6EA;
  margin-top: 5%;
  margin-left: 10%;
}

.AD-about-Diabetes-content p {
  width: 85%;
  font-size: 2vmin;
  margin-left: 10%;
  margin-top: 5%;
}

.AD-about-Diabetes-content p a {
  display: block;
}

.AD-about-Diabetes-content p a:hover {
  color: green;
}


/* ---AD footer--- */
.AD-footer {
  background-color: #2372FF;
  height: 11vh;
  display: flex;
}

.AD-footer ul {
  list-style-type: none;
  align-items: center;
}

.AD-footer-content {
  font-size: 2vmin;
  display: flex;
  /* list-style-type: none; */
  margin-left: 5%;
  justify-content: space-between;
  width: 50%;
  
}

.AD-footer-content li {
  color: white;
}

.AD-footer-content li a{
  color: white;
}

.AD-footer-content li a:hover{
  color:#000;
}


.AD-footer-img {
  margin-left: 15%;
  display: flex;
  width: 25vw;
}

.AD-footer-img-content {
  width: 50%;
  margin-top:5%;
  margin-left: 5%;
}

/*  -------About Diabetes mobile page-------- */
@media screen and (max-width: 500px){
  .AD-menu-btn {
    display:flex;
  }


  .AD-nav-links {
    flex-direction: column;
    width: 100%;
    /* height: 100vh; */
    justify-content: center;
    background-color:#2372FF;
    position: relative;
    margin-left: 0;
    /* margin-top: -900px;  no affect*/
    display: none;
    border: 1px solid white;
    border-left: hidden;
    border-right: hidden;
    border-radius: 0 0 25px 25px;
  }

  .AD-nav-links a:link {
    text-decoration: none;
  }
   .AD-nav-links a:hover{
    text-decoration: underline;
  }

  .mobile-menu{
    display: flex;
  }
  .AD-nav-links li {
    margin: 30px auto;
    font-size: large;
  }


  .AD-header {
    display: block;
    float: left;
  }

  .AD-header-content {
    height: 30%;
    width: 90%;
    /* margin-top: 0; */
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
  }

  .AD-header-content h2 {
    margin-top: 0%;
    padding-top: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
  }

  .AD-header-content p {
    width: 70vw;
  }

  .AD-video-content {
    height: 60%;
    width: 90%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .AD-about-Diabetes {
    float: left;
    height: 120vh;
  }

  .AD-about-Diabetes-content {
    width: 90%;
    height: 20%;
    box-shadow: none;
  }

  .AD-about-Diabetes-content h2 {
    font-size: 4vmin;
    padding-top: 5%;
  }

  .AD-about-Diabetes-line {
    margin-top: 3%;
  }

  .AD-footer {
    /* display: block; */
    float: left;
    width: 100%;
    height: 5vh;
  }
  .AD-footer-content {
    /* margin-left: 8%; */
  }

  .AD-footer-content li a {
    display: none;
  }

  .AD-footer-img {
    margin-left: 5%;
    margin-top: 1%;
    width: 50vw;
  }

  .AD-footer-img-content {
    width: 60%;
  
  }

}


/* ------------------------------About Us Page---------------andy----------*/
.AU-header {
  background-image: url('../image/AU-header-img.jpeg');
  width: 100vw;
  height: 100vh;
  display: flex;
  background-position: bottom;
  background-size: cover;
}



.AU-header-content {
  background: rgba(0, 94, 255, 0.55);
  height: 50%;
  width: 80%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 20px;
}

.AU-header-content h2 {
  margin-top: 5%;
  margin-left: 7%;
  font-size: 4.5vmin;
  color: white;
}

.AU-header-content p {
  margin-top: 3%;
  margin-left: 10%;
  font-size: 4vmin;
  width: 65vw;
  color: white;
}

.AU-main {
  background-color: white;
  width:100vw;
  height: 100vh;
}

.AU-about-Diabetes-content {
    background: #F8FAFC;
    height: 50%;
    width: 25%;
    margin-top: 5%;
    margin-left: 6%;
    border-radius: 20px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #000;
    float: left;
    box-shadow: 5px 10px #888888;
}
.AU-about-Diabetes-content h2 {
  padding-top: 7%;
  margin-left: 0%;
  font-size: 3.5vmin;
  text-align: center;
}

.AU-about-Diabetes-content p {
  width: 85%;
  font-size: 2.5vmin;
  margin-left: 10%;
  margin-top: 5%;
}

.AU-about-Diabetes-content2 {
  background: #F8FAFC;
    height: 25%;
    width: 88%;
    margin-top: 5%;
    margin-left: 6%;
    border-radius: 20px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #000;
    float: left;
    box-shadow: 5px 10px #888888;
}

.AU-about-Diabetes-content2 h2 {
  padding-top: 2%;
  font-size: 3.5vmin;
  text-align: center;
}

.AU-about-Diabetes-content2 p {
  width: 85%;
  font-size: 2.5vmin;
  margin-left: 10%;
  margin-top: 2%;
}

.AU-about-Diabetes-line2 {
  width: 80%;
  height: 4px;
  margin-top: 1%;
  background-color: #E2E6EA;
  margin-left: 10%;
}

/*  -------About Us mobile page-------- */
@media screen and (max-width: 500px){
  .AU-header {
    height: 38vh;
  }
  .AU-header-content {
    height: 75%;
  }
  .AU-main {
    height: 110vh;
  }
  .AU-about-Diabetes-content {
    width: 87%;
    height: 24%;
  }
  .AU-about-Diabetes-content h2 {
    padding-top: 4%;
  }
  .AU-about-Diabetes-content p {
    margin-top: 4%;
  }
  .AU-about-Diabetes-content2 {
    height: 14%;
  }

}

/* ------------------------------Login page ------shiki------------------------------ */
.login-diabetes-left{
  width: 48vw;
  height: 100vh;
  background-color: #2372FF;
  float: left;
  display: flex;
  justify-content: center;

}
.login-photo{
  width: 48vw;
  height: auto;
  margin: auto;
}



.login-diabetes-right{
  width: 52vw;
  height: 100vh;
  background-color: white;
  float: left;

}

.loginarrow_icon{
  margin-left: 10%;
  margin-top: 8%;
  height: 5vh;
  width: 5vh;
}

.login-right-content{
  /* width: 44vw; */
  height: 50vh;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10%;
}
.login-right-content h1{
  font-size: 5vmin;
  font-family: var(--font-family-roboto);

}
.login-right-content h2{
  font-size: 2.5vmin;
  font-family: var(--font-family-roboto);
  color: #828282;
}
.login-right-content h3{
  margin-top: 6%;
  font-size: 3.5vmin;
}


.login-right-content input[type=text], input[type=password] {
  width: 100%;
  padding: 1vmin 2.5vmin;
  display: inline-block;
  border: 0.1vmin solid #ccc;
  box-sizing: border-box;
  font-size: 2.5vmin;
}

.login-right-content input[type=submit]{
  font-size: 3.5vmin;
  background-color: #2372FF;
  color: white;
  text-align: center;
  margin-top: 3%;
  padding: 1vmin;
  border: none;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}
.login-right-content h4{
  font-size: 2vmin;
  margin-top: 3%;
  padding-left: 6vmin;
  font-family: var(--font-family-roboto);
  text-decoration: underline;
  text-align: right;
}
.login-diabetes-right a:hover{
  color: red;
}



/*  -------About Diabetes mobile page-------- */
@media screen and (max-width: 500px){
  .login-diabetes-left{
    display: none;
  }
  .login-diabetes-right{
    width: 100vw;
    height: 100vh;
    background-color: white;
    float: left;
  }
  .login-right-content{
    height: 100vh;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
  }
  .login-right-content h1{
    font-size: 10vmin;
    font-family: var(--font-family-roboto);
  
  }
  .login-right-content h2{
    font-size: 5vmin;
    font-family: var(--font-family-roboto);
    color: #828282;
  }
  .login-right-content h3{
    margin-top: 12%;
    font-size: 7vmin;
  }
  
  
  .login-right-content input[type=text]{
    width: 100%;
    padding: 2vmin 5vmin;
    display: inline-block;
    border: 0.1vmin solid #ccc;
    box-sizing: border-box;
    font-size: 3.5vmin;
  }
  .login-right-content input[type=password]{
    width: 100%;
    padding: 2vmin 5vmin;
    display: inline-block;
    border: 0.1vmin solid #ccc;
    box-sizing: border-box;
    font-size: 3.5vmin; 
  }
  .login-right-content input[type=submit]{
    font-size: 5.5vmin;
    background-color: #2372FF;
    color: white;
    text-align: center;
    margin-top: 3%;
    padding: 1vmin;
    border: none;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
  }

  .login-right-content h4{
    font-size: 4vmin;
    margin-top: 6%;
    padding-left: 12vmin;
    font-family: var(--font-family-roboto);
    text-decoration: underline;
    text-align: right;
  }
  .login-right-content h5{
    font-size: 7vmin;
    background-color: #2372FF;
    color: white;
    margin-top: 6%;
    padding:2vmin;
    text-align: center;
  
  }

}

/* ------------------------------Change password ------shiki------------------------------ */
.change-right-content{
  height: 50vh;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
}
.change-right-content h1{
  font-size: 5vmin;
  font-family: var(--font-family-roboto);

}

.change-right-content h3{
  margin-top: 6%;
  font-size: 3.5vmin;
}


.change-right-content input[type=text], input[type=password] {
  width: 100%;
  padding: 1vmin 2.5vmin;
  display: inline-block;
  border: 0.1vmin solid #ccc;
  box-sizing: border-box;
  font-size: 3.5vmin;
}
.change-right-content input[type=submit]{
  font-size: 3.5vmin;
  background-color: #2372FF;
  color: white;
  text-align: center;
  margin-top: 10%;
  padding: 1vmin;
  border: none;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}
@media screen and (max-width: 500px){
  .change-right-content{
    height: 100vh;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
  }
  .change-right-content h1{
    font-size: 8vmin;
    font-family: var(--font-family-roboto);
  
  }

  .change-right-content h3{
    margin-top: 12%;
    font-size: 7vmin;
  }
  
  .change-right-content h5{
    font-size: 7vmin;
    /* background-color: #2372FF; */
    color: white;
    margin-top: 6%;
    /* padding:2vmin; */
    text-align: center;
  } 
  .change-right-content input[type=text]{
    width: 100%;
    padding: 2vmin 5vmin;
    display: inline-block;
    border: 0.1vmin solid #ccc;
    box-sizing: border-box;
    font-size: 3.5vmin;
  }
  .change-right-content input[type=password]{
    width: 100%;
    padding: 2vmin 5vmin;
    display: inline-block;
    border: 0.1vmin solid #ccc;
    box-sizing: border-box;
    font-size: 3.5vmin; 
  }
  .change-right-content input[type=submit]{
    font-size: 5.5vmin;
    background-color: #2372FF;
    color: white;
    text-align: center;
    margin-top: 15%;
    padding: 1vmin;
    border: none;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
  }
}
