/*
alfred starts here */
/* .main{
    background-color: rgb(253, 253, 253);
    height: 1873px; 
} */
.main-content{
    width: 1615px;
    margin: 0 auto;
    height: 100%;
}
.main.about-Diabet{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 497px;
    height: 607px;
    margin-left: 26px;
    margin-top: 26px;
}
body{
  min-width: 960px;
}

.main .diabete1 {
    background-color: #f8fafc;
    height: 440px;
    left: 160px;
    position: absolute;
    top: 920px;
    width: 360px;
  }
.main .diabetes-box {
    background-color: var(--white-lilac);
    border-radius: 8px;
    box-shadow: 0px 3px 6px #00000029;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
}
.main .diabete-heading{
    -webkit-text-stroke: 4px transparent;
    background-color: transparent;
    height: 41px;
    left: 20px;
    letter-spacing: 0.23px;
    line-height: 24px;
    position: absolute;
    text-align: left;
    top: 43px;
    width: 227px;
  }
.font-30px {
    color: var(--licorice);
    font-family: var(--font-family-roboto);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;

}
.font-25px {
    color: var(--licorice);
    font-family: var(--font-family-roboto);
    font-size: 25px;
    font-style: normal;
    font-weight: 450;
}
.main .diabete-content {
    -webkit-text-stroke: 4px transparent;
    background-color: transparent;
    bottom: 32px;
    height: 290px;
    left: 20px;
    letter-spacing: 0.19px;
    line-height: 30px;
    position: absolute;
    text-align: left;
    width: calc(100.00% - 38px);
  }

.main .underline-pic2 {
    background-color: transparent;
    height: 5px;
    left: 20px;
    object-fit: cover;
    position: absolute;
    top: calc(22.41% - 1px);
    width: 300px;
}

.main .diabetes2 {
    background-color: #f8fafc;
    height: 440px;
    left: 600px;
    position: absolute;
    top: 920px;
    width: 360px;
  }
  .main .pre-diabetes {
    background-color: #f8fafc;
    height: 440px;
    left: 160px;
    position: absolute;
    top: 1440px;
    width: 360px;
  }
  .main .more-info {
    background-color: #f8fafc;
    height: 440px;
    left: 600px;
    position: absolute;
    top: 1440px;
    width: 360px;
  }
  .main .vedio-box {
    background-color: transparent;
    height: 720px;
    left: 1280px;
    position: absolute;
    top: 1080px;
    width: 480px;
  }
  .main .what-is-diabetes{
    background-color: transparent;
    color: var(--licorice);
    font-family: var(--font-family-roboto);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    height: 49px;
    left: 20px;
    letter-spacing: 0.00px;
    line-height: 38px;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: 40px;
    width: 317px;
  }
  .main .line-pic {
    background-color: transparent;
    height: 4px;
    left: 20px;
    object-fit: cover;
    position: absolute;
    top: 98px;
    width: calc(100.00% - 60px);
  }
  .main .video1 {
    background-color: transparent;
    height: 240px;
    left: 20px;
    mix-blend-mode: normal;
    object-fit: cover;
    position: absolute;
    top: calc(25.00% - 60px);
    width: calc(100.00% - 40px);
  }
  .main .video2 {
    background-color: transparent;
    bottom: 60px;
    height: 240px;
    left: 20px;
    object-fit: cover;
    position: absolute;
    width: calc(100.00% - 40px);
  }
  .mxain .right-background {
    background-color: transparent;
    height: calc(100.00% + 18px);
    left: -9px;
    object-fit: cover;
    position: absolute;
    top: -6px;
    width: calc(100.00% + 18px);
  }
/* alfred ends here */

/* header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--blue); 
    top: 0;
    height: 120px;  
    width: 1920px;
    min-width: 960px;
}

.logo{
    cursor: pointer;
    left: 0px;
    top: 0px;
    margin-left: 0px;
    height: 120px;
    width: 360px;
}

/* nav bar */
.nav_btn{
    width: 225px;
    background-color: var(--spindle);
    border-radius: 8px;
    border: 1px solid var(--dove_gray);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    height: 40px;
}

.nav_btn:hover{
    background-color: #80aeff;
}

nav a,button{
    color: var(--white);
    font-family: var(--font-family-segoeui-bold);
    font-size: var(--font-size-xs);
    font-style: normal;
    font-weight: 700;
    margin-right: 5px;
}
/* nav bar ends here*/

/* About us page*/
.about_us_bg_pic {
  top: 120px;
  height: 360px;
  left: 0;
  object-fit: cover;
  position: absolute;
  width: 1920px;
}

.about_us_blue_bg {
  background-color: var(--background_blue);
  border: 1px solid #2372ff80;
  border-radius: 8px;
  box-shadow: 0px 6px 12px #00000029;
  height: 400px;
  left: 120px;
  position: absolute;
  top: 200px;
  width: 1680px;
}

.about_us_message_title {
  -webkit-text-stroke: 4px transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 500;
  height: 62px;
  left: 200px;
  letter-spacing: 2.00px;
  line-height: 24px;
  position: absolute;
  top: 260px;
  width: 225px;
}

.about_us_message {
  -webkit-text-stroke: 4px transparent;
  color: #fffb91;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  height: 202px;
  left: 240px;
  letter-spacing: 0.38px;
  line-height: 50px;
  position: absolute;
  top: 360px;
  width: 1440px;
}

.main_info{
  margin-top: 520px;
  padding-left: 200px;
  padding-right: 200px;
  min-width: 1920px;
  max-width: 1920px;
}

.info_gallery{
  display: inline-table;
  width: 400px;
  border: 3px solid var(--border_line);
  border-radius: 10px;
  height: 400px;
  margin-left: 80px;
  max-width: 400px;
  min-width: 400px;
}

.info_gallery_content{
  background-color: var(--white);
  padding: 20px 40px;
  text-align: center;
}

.info_line{
  margin-top: 3px;
  width: 320px;
  color: var(--dove_gray);
  size: 1;
  left: 40px;
  position: static;
}

.content_message{
  left: 40px;
  text-align: left;
}

.as_our_client_message_content{
  margin-top: 40px;
  width: 1386px;
  height: 240px;
  border: 3px solid var(--border_line);
  border-radius: 10px;
  margin-left: 80px;
}

.as_our_client{
  padding-left: 80px;
  padding-top: 40px;
}

.as_our_client_line{
  margin-top: 3px;
  width: 320px;
  color: var(--dove_gray);
  size: 1;
  margin-left: 80px;
}

.as_our_client_message{
  padding-left: 80px;
  padding-right: 80px;
}