.about_us_light {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 1560px;
  width: 1920px;
}

.about-us-light .navi_bar_container {
  background-color: var(--blue);
  display: flex;
  height: 120px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.about-us-light .logo_position {
  align-items: center;
  display: flex;
  flex: 1;
  margin-right: 664.2px;
  min-width: 1255.79px;
}

.about-us-light .logo_style {
  height: 120px;
  object-fit: cover;
  width: 360px;
}


.about-us-light .button {
  align-items: flex-end;
  background-color: var(--spindle);
  border-radius: 10px;
  display: flex;
  height: 50px;
  left: 1677px;
  min-width: 208px;
  padding: 1.5px 53px;
  position: absolute;
  top: 40px;
}

.about-us-light .log-in {
  -webkit-text-stroke: 4px transparent;
  height: 42px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  width: 102px;
}

.about-us-light .button-1 {
  align-items: flex-end;
  background-color: var(--spindle);
  border-radius: 10px;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  left: 1235px;
  min-width: 208px;
  padding: 1.5px 33px;
  position: absolute;
  top: 40px;
}

.about-us-light .about-us {
  -webkit-text-stroke: 4px transparent;
  height: 42px;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  width: 141px;
}

.about-us-light .overlap-group5 {
  height: 480px;
  position: relative;
  width: 1920px;
}

.about-us-light .about_us_bg_pic {
  top: 120px;
  height: 360px;
  left: 0;
  object-fit: cover;
  position: absolute;
  width: 1920px;
}

.about-us-light .x30 {
  height: 5px;
  left: 165px;
  object-fit: cover;
  position: absolute;
  top: 353px;
  width: 248px;
}

.about-us-light .x31 {
  height: 5px;
  left: 847px;
  object-fit: cover;
  position: absolute;
  top: 353px;
  width: 248px;
}

.about-us-light .x34 {
  height: 5px;
  left: 1506px;
  object-fit: cover;
  position: absolute;
  top: 353px;
  width: 248px;
}

.about-us-light .about_us_blue_bg {
  background-color: var(--blue);
  border: 1px solid #2372ff80;
  border-radius: 8px;
  box-shadow: 0px 6px 12px #00000029;
  height: 400px;
  left: 120px;
  position: absolute;
  top: 200px;
  width: 1680px;
}

.about-us-light .about_us_message_title {
  -webkit-text-stroke: 4px transparent;
  color: var(--white);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xl);
  font-weight: 500;
  height: 62px;
  left: 200px;
  letter-spacing: 2.00px;
  line-height: 24px;
  position: absolute;
  top: 148px;
  width: 225px;
}

.about-us-light .about_us_message {
  -webkit-text-stroke: 4px transparent;
  color: #fffb91;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xxl);
  font-weight: 700;
  height: 202px;
  left: 240px;
  letter-spacing: 0.38px;
  line-height: 50px;
  position: absolute;
  top: 240px;
  width: 1440px;
}

.about-us-light .overlap-group-container {
  align-items: flex-start;
  display: flex;
  margin-left: 2.0px;
  margin-top: 40px;
  min-width: 1362px;
}

.about-us-light .overlap-group6 {
  height: 400px;
  position: relative;
  width: 402px;
}

.about-us-light .x154 {
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: 0px 3px 6px #00000029;
  height: 400px;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 400px;
}

.about-us-light .what-we-do {
  -webkit-text-stroke: 4px transparent;
  left: 0;
  letter-spacing: 0.30px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 35px;
  width: 402px;
}

.about-us-light .we-support-empower {
  -webkit-text-stroke: 4px transparent;
  height: 159px;
  left: 40px;
  letter-spacing: 0.24px;
  line-height: 30px;
  position: absolute;
  top: 120px;
  width: 322px;
}

.about-us-light .x52 {
  height: 1px;
  left: 40px;
  object-fit: cover;
  position: absolute;
  top: 80px;
  width: 320px;
}

.about-us-light .overlap-group {
  height: 400px;
  margin-left: 78px;
  position: relative;
  width: 402px;
}

.about-us-light .annual-review {
  -webkit-text-stroke: 4px transparent;
  left: 0;
  letter-spacing: 0.30px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 35px;
  width: 402px;
}

.about-us-light .each-year-we-produce {
  -webkit-text-stroke: 4px transparent;
  height: 162px;
  left: 40px;
  letter-spacing: 0.24px;
  line-height: 30px;
  position: absolute;
  top: 120px;
  width: 322px;
}

.about-us-light .x53 {
  height: 1px;
  left: 40px;
  object-fit: cover;
  position: absolute;
  top: 80px;
  width: 320px;
}

.about-us-light .website-developer {
  -webkit-text-stroke: 4px transparent;
  color: var(--licorice);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-l);
  font-weight: 500;
  left: 0;
  letter-spacing: 0.29px;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 37px;
  width: 402px;
}

.about-us-light .this-website-is-buil {
  -webkit-text-stroke: 4px transparent;
  height: 242px;
  left: 40px;
  letter-spacing: 0.24px;
  line-height: 30px;
  position: absolute;
  top: 120px;
  width: 322px;
}

.about-us-light .x54 {
  height: 1px;
  left: 40px;
  object-fit: cover;
  position: absolute;
  top: 80px;
  width: 320px;
}

.about-us-light .overlap-group4 {
  align-items: flex-start;
  background-color: #ffffff33;
  border: 2px solid #70707033;
  border-radius: 8px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  min-height: 240px;
  padding: 42.5px 78px;
  width: 1360px;
}

.about-us-light .overlap-group7 {
  height: 41px;
  margin-left: 2px;
  position: relative;
  width: 269px;
}

.about-us-light .as-our-client {
  -webkit-text-stroke: 4px transparent;
  left: 0;
  letter-spacing: 0.23px;
  line-height: 24px;
  position: absolute;
  top: 0;
  width: 269px;
}

.about-us-light .x55 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 36px;
  width: 200px;
}

.about-us-light .as_our_client_message {
  -webkit-text-stroke: 4px transparent;
  color: var(--licorice);
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-weight: 500;
  height: 84px;
  letter-spacing: 0.19px;
  line-height: 30px;
  margin-top: 30px;
  width: 1202px;
}

.about-us-light .footer_content {
  align-items: flex-start;
  background-color: var(--blue);
  border: 2px solid var(--dove-gray);
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  height: 120px;
  margin-top: 80px;
  min-width: 1920px;
  padding: 38px 158px;
}

.about-us-light .copyright {
  -webkit-text-stroke: 4px transparent;
  align-self: center;
  color: var(--white);
  font-family: var(--font-family-segoeui-regular);
  font-size: var(--font-size-m);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 30px;
  margin-top: 6.0px;
  min-height: 32px;
  min-width: 336px;
  white-space: nowrap;
}

.about-us-light .x129-1 {
  align-self: center;
  display: flex;
  height: 28px;
  margin-left: 224px;
  width: 117px;
}

.about-us-light .about-us-2 {
  -webkit-text-stroke: 4px transparent;
  flex: 1;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: -2px;
  margin-right: -2px;
  text-decoration: underline;
  white-space: nowrap;
  width: 117px;
}

.about-us-light .x130-1 {
  align-self: center;
  display: flex;
  height: 28px;
  margin-left: 91px;
  width: 193px;
}

.about-us-light .about_diabetes_footer {
  -webkit-text-stroke: 4px transparent;
  flex: 1;
  letter-spacing: 0;
  line-height: 28px;
  margin-bottom: -2px;
  margin-right: -2px;
  text-decoration: underline;
  white-space: nowrap;
  width: 193px;
}

.about-us-light .about_us_footer {
  left: 928px;
  line-height: 28px;
  margin-bottom: -2px;
  margin-right: -2px;
  text-decoration: underline;
  white-space: nowrap;
  width: 193px;
}

.about-us-light .facebook {
  height: 40px;
  margin-left: 199px;
  object-fit: cover;
  width: 40px;
}

.about-us-light .footer_content_icon {
  height: 40px;
  margin-left: 40px;
  object-fit: cover;
  width: 40px;
}
